//--- Palette
$c-white:                   #FFF;
$c-black:                   #000;
$c-grey:                    #DCDCDC;
$c-coal:                    #21292F;

$c-purple:                  #5D237A;
$c-pink-dark:               #A4286A;
$c-pink-light:              #D93F69;
$c-blue:                    #0075B3;
$c-teal:                    #009288;
$c-orange:                  #F58223;
$c-red:                     #dc3232;

$c-shadow-purple:           #5D237A;
$c-shadow-blue:             #0075B3;
$c-shadow-teal:             #009288;

//--- Key elements
$c-bg:                      $c-white;
$c-text:                    $c-coal;
$c-text-light:              $c-white;
$c-accent:                  $c-teal;
$c-social:                  $c-pink-dark;
$c-error:                   $c-red;