$font-myfont:               'Font name';
$font-another:              'Another Font name';

$font-stack-default:        $font-myfont, Arial, sans-serif;
$font-stack-secondary:      $font-another, Georgia, serif;

$font-size-default:         16px;
$line-height-default:       24px;
