//--- Spacing
$sp-15:                 15px;
$sp-25:                 25px;
$sp-50:                 50px;
$sp-100:                100px;

//--- Widths from design
$width-xs:              730px;
$width-s:               920px;
$width-m:               1110px;
$width-l:               1300px;

//--- Core page variables
$gutter:                $sp-25; // Horizontal
$spacer:                $sp-50; // Vertical

$width-page:            $width-l;
$width-wrapper:         $width-m;

$height-nav:            50px;
$height-footer:         100px;




